.mando{
    background: #000d42;
    border: 2px solid #fff;
    border-radius: 0 10px 10px 0;
}
.mando:first-child{
    border-radius: 0 0 10px 0;
}
.mando:nth-child(2n){
    border-radius: 10px 0 0 10px;
}
.mando:nth-child(2){
    border-radius: 0 0 0 10px;
}
.mando .mando-text{
    background: #202c69;
    border-radius: 10px;
}
.mando .etapa{
    border: 1px solid #000d42;
    background: #376f37;
}
.mando .btn-success{
    background: #99ca3c  !important;
    border: 1px solid #99ca3c  !important;
    color: rgba(50,50,50,1) !important
}
.mando .btn-success:hover{
    background: #234e2c !important;
    border: 1px solid #154e22 !important;
}
.mando .acciones{
    background: #202c69;
    border-left: 1px solid #000d42;
    border-right: 1px solid #000d42;

}