.primary-bg
{
  background: #9bcd41 !important;
}
.primary-color{
  color: #9bcd41 !important;
}
.color-ancla-suez{
  color: #000d42 !important;
}
.cursor-pointer{
  cursor: pointer;
}
.secondary-bg{
  background: #000d42 !important;
}
.btn-success-suez{
  background: #99ca3c !important;
  border: 1px solid #337d25 !important;
  color: #000d42 !important;
  font-weight: 700 !important
}
.btn-success-suez:hover{
  background: #28a745 !important;
  border: 1px solid #28a745 !important;
}
.btn{
  width: 8em !important;
}
.redondo{
  border-radius: .80rem !important;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #000d42; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.form-bg{
  background: #dcdce8;
}
